body {
    background-color: rgb(211, 211, 211);
}

li {
    list-style-type: none;
}

.main-main-div {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
    margin-top: 150px;
}

.main-div {
    background-color: rgb(44, 44, 44);
}

.main-div_text {
    text-align: center;
    font-size: 23px;
}

.main-div_content {
    margin: 5px 20px 0 20px;
}

.main-div_content_button {
    text-align: center;
}

.m-n:hover {
    background-color: rgb(201, 201, 201);
}

.error {
    color: brown;
}

.seccess-message {
    text-align: center;
    color: rgb(115, 161, 115);
}

.error-message {
    text-align: center;
    color: brown;
}

.main-div_main {
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 600px;
    margin-top: 200px;
}

.main-div_main_avatar {
    margin: 20px;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.main-div_table {
    margin-top: 50px;
    margin-right: 20px;
}

.correspondence-div {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
    margin-top: 150px;
}

.correspondence-div_main-div {
    height: auto;  
}

.correspondence-div_main-div_scroll {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    background-color: rgb(44, 44, 44);
}

.correspondence-div_main-div_content {
    margin: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:hover {
        background-color: rgb(71, 71, 71);
    }
}

.main-div_correspondence_avatar {
    height: 40px;
    margin-top: 5px;
    border-radius: 50%;
}

.main-div_correspondence_text {
    margin-top: 10px;
    margin-left: 18px;
}

a {
    text-decoration: none;
}

.correspondence-div_main-div_content_is-empty {
    text-align: center;
    font-size: 30px;
    color: rgb(146, 146, 146);
    margin-top: 150px;
}

.correspondence-div_main-div_seach {
    margin-left: 10px;
    width: 360px;
}

.seach-div_main-div_scroll {
    border-top: 1px solid rgb(137, 146, 155);
}

.scroll-main-div-text {
    text-align: center;
    font-size: 20px;
}

.typing-zone {
    border-top: 1px solid rgb(137, 146, 155);
    height: auto;
    background-color: rgb(44, 44, 44);
}

.textarea-message {
    height: 60px;
    width: 300px;
}

.messages-div_message {
    background-color: rgb(131, 131, 131);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: black;
}

.set-message {
    float: right;
    margin-left: 120px;
}

.get-message{
    float: left;
    margin-right: 120px;
}